<section id="project" class="about-section">
  <div class="about-container">
    <div class="about-content">
      <span class="badge">{{ 'about-product.title' | translate }}</span>
      <h2>{{ 'about-product.description-1' | translate }}</h2>
      <p>{{ 'about-product.description-2' | translate }}</p>
    </div>

    <div class="about-visual">
      <div class="about-image-placeholder">
        <img src="/assets/about-img.jpg" alt="About CultivaTech">
      </div>
    </div>
  </div>
</section>
