<section id="features" class="features-section">
  <div class="features-container">
    <div class="features-header">
      <h2>{{ 'feature.header.title' | translate }}</h2>
      <p></p>
    </div>

    <div class="features-grid">
      <div class="feature-card">
        <div class="feature-icon">📡</div>
        <h3>{{'feature.cards.monitoring.title' | translate}}</h3>
        <p>{{'feature.cards.monitoring.description' | translate}}</p>
      </div>

      <div class="feature-card">
        <div class="feature-icon">📊</div>
        <h3>{{'feature.cards.predictive.title' | translate}}</h3>
        <p>{{'feature.cards.predictive.description' | translate}}</p>
      </div>

      <div class="feature-card">
        <div class="feature-icon">⚡</div>
        <h3>{{'feature.cards.alerts.title' | translate}}</h3>
        <p>{{'feature.cards.alerts.description' | translate}}</p>
      </div>
    </div>
  </div>
</section>

