<section id="team" class="team-section">
  <div class="team-container">
    <div class="team-header">
      <span class="badge">{{ 'team.badge' | translate }}</span>
      <h2>{{ 'team.title' | translate }}</h2>
      <p>{{ 'team.subtitle' | translate }}</p>
    </div>

    <div class="team-grid">
      <div class="team-card">
        <div class="avatar-placeholder">
          <figure class="avatar-container">
            <img src="/assets/foto-jean.jpeg" alt="photo" class="avatar-img"/>
          </figure>
        </div>
        <h3>{{ 'team.members.jean.name' | translate }}</h3>
        <span class="role">{{ 'team.role' | translate }}</span>
        <p>{{ 'team.members.jean.description' | translate }}</p>
      </div>

      <div class="team-card">
        <div class="avatar-placeholder">
          <figure class="avatar-container">
            <img src="/assets/foto-maria.jpeg" alt="photo" class="avatar-img"/>
          </figure>
        </div>
        <h3>{{ 'team.members.maria.name' | translate }}</h3>
        <span class="role">{{ 'team.role' | translate }}</span>
        <p>{{ 'team.members.maria.description' | translate }}</p>
      </div>

      <div class="team-card">
        <div class="avatar-placeholder">
          <figure class="avatar-container">
            <img src="/assets/foto-renzo.jpeg" alt="photo" class="avatar-img"/>
          </figure>
        </div>
        <h3>{{ 'team.members.renzo.name' | translate }}</h3>
        <span class="role">{{ 'team.role' | translate }}</span>
        <p>{{ 'team.members.renzo.description' | translate }}</p>
      </div>

      <div class="team-card">
        <div class="avatar-placeholder">
          <figure class="avatar-container">
            <img src="/assets/foto-jorge.jpeg" alt="photo" class="avatar-img"/>
          </figure>
        </div>
        <h3>{{ 'team.members.jorge.name' | translate }}</h3>
        <span class="role">{{ 'team.role' | translate }}</span>
        <p>{{ 'team.members.jorge.description' | translate }}</p>
      </div>

      <div class="team-card">
        <div class="avatar-placeholder">
          <figure class="avatar-container">
            <img src="/assets/foto-karen.jpeg" alt="photo" class="avatar-img"/>
          </figure>
        </div>
        <h3>{{ 'team.members.karen.name' | translate }}</h3>
        <span class="role">{{ 'team.role' | translate }}</span>
        <p>{{ 'team.members.karen.description' | translate }}</p>
      </div>
    </div>
  </div>
</section>
